.Home {
  margin-top: 82px;
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #C1CFC0;
  animation: fade-in 0.5s;
  user-select: none;
  gap: 30px;
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Home-Header{
  color: #11324D;
  width: auto;
  margin: 20px 20px 0px 20px;
  user-select: none;
  font-size: 26px;
  text-shadow: 1px 1px 2px  #11324d42;
}

.Home-Container {
  width: 75%;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 15px 15px 5px 1px rgba(62, 62, 62, 0.637);
  border: 1px solid rgba(59, 59, 59, 0.401);
  background-color: #e7e7c9;
}

.Home-Title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  margin: 5px;
  color: #11324D;
  text-shadow: 1px 1px 2px  #11324d42;
  font-size: 24px;
}

.Home-Text {
  width: 95%;
  min-height: 10px;
  text-align: justify;
  color: #11324D;
  text-shadow: 1px 1px 2px  #11324d42;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}