.Hobbie-Container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  box-shadow: 20px 20px 7px 2px rgba(62, 62, 62, 0.637);
  border: 1px solid rgba(59, 59, 59, 0.401);
  background-color: #e7e7c9;
  user-select: none;
}

.Hobbie-Img {
  width: 450px;
  background-color: azure;
}

.Hobbie-Info {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  background-color: #e7e7c9;
}

.Hobbie-Title {
  width: 100%;
  color: #11324D;
  text-shadow: 3px 2px 5px  #11324d75;
}

.Hobbie-Text {
  width: 95%;
  text-align: justify;
  color: #11324D;
  text-shadow: 3px 2px 5px  #11324d75;
}
