.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: #C1CFC0;
  height: 100vh;
}

.testing {
  border: 2px solid red;
}